.active{
    text-decoration: underline;
}
.none{
    display: none;
}
/* NavBar Btn */
.navbar_btn {
    border: 3px solid white;
    cursor: pointer;
    position: fixed;
    top:10px;
}
.bar1,
.bar2,
.bar3 {
    background: white;
    height: 3px;
    margin: 0.4rem;
    transition: all .4s ease;
    width: 25px;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-8px, 7px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-6px, -5.5px);
}
.toggler{
    display: none;
}


@media only screen and (max-width: 600px) {
   .full-size-nav{
       display: none;
   }
   .small-size-nav{
        background-color: #1E88E5 !important;
        display: flex;
        flex-direction: column;
        left: 0;
        position: absolute;
        top:56px;
        width: 100%;
    }
    .toggler{
        display: inline-block;
    }
}

.brand-logo{
    text-decoration: none !important;
}